body {
    background-image:url("images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a.nav-item {
    padding-right: 25px;
}


#homepage {
    color: white;
}

.display-4{
    font-family: "impact";
    text-align: center;
}

.carousel .item {
    height: 500px;

    }

.item img{

    width: 100%;
    height:auto;
}


.trump{
    float: left;
    width: 300px;
    height: auto;
    border-radius: 20%;
}
.navbar-default{
    position:fixed;
    top:0;
    width:100%;
}

.caption {
    color:white;
}

#slideshow{
    right: 16%;
    width: 100%;

}

.space_pics img {
    margin: 20px; 

}
.caption{
    font-size: 15px;
    margin-bottom:10px;
}


article {
    color:white;
    font-size: 25px;
}

.space_pics {
    border-style:solid;
    border-width:5px;

}

.trump_quote{
    margin-top:30px;
    margin-bottom:100px;
    text-align: center;
    font-style: italic;}
.trump_quote img {
    border-radius:45%;
}

.space_pics img {
    width:600px;
    height:350px;
} 

#title {
    font-size: 67px;
}

h2 {
    color:white;
}