body {
    background-image:url("images/space2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a.nav-item {
    padding-right: 25px;
}


#homepage {
    color: white;
}

.display-4{
    font-family: "impact";
    text-align: center;
}

.carousel .item {
    height: 300px;

    }

.item img{

    width: 100%;
    height: auto;
}

#transport{
    position: relative;
    top: -90px;
}


.trump{
    float: left;
    width: 300px;
    height: auto;
    border-radius: 20%;
}
.navbar-default{
    position:fixed;
    top:0;
    width:100%;
}

#space_station{
    width:420px;
    height:auto;
}

#space_travel{
    
    width:420px;
    height:auto; 
}

.caption {
    color:white;
}

#slideshow{
    right: 16%;
    width: 100%;

}

.row{
    width:100%;
}

/* 
.space_pics{
    background-image:url("images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover
} */

.space_pics img {
    margin: 20px;
}